html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
}

html, body {
  overflow-x: hidden;
}

h1,h2,h3,h4,h5 {
  margin-bottom: 1rem;
}